{% extends 'base.html' %}


{% block title %}
<title>Homepage</title>
{% endblock %}

{% block style %}
<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
{% endblock %}



{% block body %}
<div class="container">
    <div>   
        <center><img src="static/img/tick3.jpeg" alt="Girl in a jacket"></center>
        
     </div>     
     <div>  
          <center>
        <b style="font-size: 30px;font-family: monospace;">{{message}}</b>
        </center>
        

     </div>      
   
</div>
{% endblock %}
